.newsletters {
  background-image: linear-gradient(rgba(10, 10, 9, 0.29), rgba(0, 0, 0, 0.342)),
    url(../assets/images/newsletrters.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
  width: 100%;
}
.row {
  margin: auto;
  width: 90%;
  padding-top: 4rem;
}
.caption {
  color: white;
}
.h1 {
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.btn {
  background-color: #B99B6B;
  border: none;
  margin-left: 10px;
}
.btn:hover {
  background-color: #B99B6B;
}
.input {
  display: flex;
  flex-direction: row;
  height: 8vh;
  margin-top: 1rem;
}
@media screen and (max-width: 1060px) {
  .input {
    flex-direction: column;
  }
  .btn {
    margin-top: 1rem;
    margin-left: 0px;
  }
  .newsletters {
    width: 100%;
    height: 25vh;
    margin-top: 50px;
  }

  .h1 {
    font-size: 25px;
  }
}
@media screen and (max-width: 560px) {
  .newsletters {
    width: 100%;
    height: 55vh;
  }
}

@media screen and (max-width: 420px) {
  .input {
    flex-direction: column;
  }
  .newsletters {
    height: 45vh;
  }
  .h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 368px) {
  .newsletters {
    height: 50vh;
  }
  .h1 {
    font-size: 20px;
  }
}
@media screen and (max-width: 325px) {
  .newsletters {
    height: 70vh;
  }
}
@media screen and (max-width: 285px) {
  .newsletters {
    height: 60vh;
  }
}
